mixin header()
  header.header
    .wrapper.header__wrapper
      .header__subtitle The geniuses behind our work
      h1.header__title Our team
      .header-decoration
        .header-decoration__line.line
        .header-decoration__image
          img(src="./assets/images/logo.png" alt="logo")
        .header-decoration__line.line
  section.slider
    .wrapper.slider__wrapper 
      .slider.slider-flex