mixin slider()
  section.slider
    .wrapper.slider__wrapper
      .slider-block.slider-flex
        .slider-block__left
          .slider-block__top.slider-flex
          .slider-block__center.slider-flex
          .slider-block__bottom.slider-flex