.navigation {
  align-items: center;
  display: flex;

  @media (max-width: 767px) {
    pointer-events: none;
    display: none;
  }

  &__list {
    display: flex;
  }

  &__item {
    letter-spacing: 0.5px;
    margin-right: 28px;
    font-size: em(12);
    line-height: 16px;

    &:first-child {
      margin-right: 50px;
    }
  }

  &__link {
    transition: $t-normal;
    color: $c-platinum;

    &:hover {
      color: $c-black;
    }
  }
}
