.button {
  background-color: $c-davys-grey;
  font-size: $fs-base + px;
  transition: $t-normal;
  letter-spacing: 0.1em;
  align-items: center;
  font-weight: 700;
  color: $c-white;
  padding: 0 45px;
  cursor: pointer;
  line-height: 1;
  display: flex;
  border: none;
  height: 46px;

  &:hover {
    background-color: $c-dark-charcoal;
  }

  &--transparent {
    background-color: $c-white;
    height: fit-content;
    padding-right: 0;
    padding-left: 0;
    border: none;

    &:hover {
      background-color: $c-white;
    }
  }
}
