:root {
  --c-white: #fff;
  --c-dark-blue: #2B81AC;
  --c-blue: #3399CC;
  --c-maximum-blue-green: #33CCCC;
  --c-french-lilac: #996699;
  --c-watermelon-red: #C24747;
  --c-jelly-bean: #E2674A;
  --c-orange-yellow: #FFCC66;
  --c-eton-blue: #99CC99;
  --c-desaturated-cyan: #669999;
  --c-wild-orchid: #CC6699;
  --c-illuminating-emerald: #339966;
  --c-dark-blue-gray: #666699;
}
