header {
  text-align: center;
}

.header-text {
  margin: 30px;
}

.main {
  width: 100%;
}

.rounded-list a {
  position: relative;
  display: block;
  padding: 25px;
  margin: 10px 0;
  background: #ddd;
  color: #444;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.rounded-list a:hover {
  background: #eee;
}