// * BEZIER
$b-normal: cubic-bezier(0.4, 0, 0.2, 1);

// * FONT FAMILY
$ff-base: 'Roboto', sans-serif;

// * COLORS
$c-spanish-gray: #969696;
$c-earie-black: #1C1C1C;
$c-davys-grey: #545454;
$c-cultured: #F7F7F7;
$c-platinum: #E4E4E4;
$c-white: #FFFFFF;
$c-azure: #007BFF;

// * TRANSITION
$t-normal: 0.35s $b-normal;

// * FONT-SIZE
$fs-title: 24;
$fs-base: 14;
$fs-terms: 12;
