.p-panel {
  background-color: $c-granite-gray;
  padding: 5px 0 5px 0;
  width: 100%;

  &__wrapper {
    justify-content: center;
    display: flex;
  }

  &__nav {
    text-decoration: none;
    transition: $t-normal;
    color: $c-white;
    font-size: 16px;
  }

  &__nav:hover {
    color: $c-tangerine-yellow;
  }
}
