// * BEZIER
$b-normal: cubic-bezier(0.4, 0, 0.2, 1);

// * FONT FAMILY
$ff-base: "Raleway", sans-serif;

// * COLORS
$c-tangerine-yellow: #ffcc00;
$c-philippine-gray: #898f8f;
$c-chinese-silver: #cccccc;
$c-dark-charcoal: #333333;
$c-granite-gray: #666666;
$c-white: #ffffff;

// * FONT FAMILY
$ff-lato: "lato", sans-serif;

// * TRANSITION
$t-normal: 0.35s $b-normal;

// * FONT-SIZE
$fs-person-name: 36;
$fs-subtitle: 18;
$fs-position: 24;
$fs-title: 60;
$fs-base: 14;
