.banner {
  height: calc(100vh - 128px);
  margin-bottom: 90px;
  position: relative;

  @media (max-width: 768px) {
    margin-bottom: 70px
  }

  &__background {
    position: absolute;
    object-fit: cover;
    height: 100%;
  }

  &__wrapper {
    position: relative;
    z-index: 1;
  }

  &__title {
    padding-top: 100px;
    
    @media (max-width: 768px) {
      padding-top: 30px;
    }

    @media (max-width: 320px) {
      padding-top: 70px;
    }
  }
}
