.footer {
  background-color: $c-cultured;

  &__wrapper {
    padding-bottom: 30px;
    padding-top: 70px;

    @media (max-width: 768px) {
      padding-bottom: 50px;
      padding-top: 50px;
    }
  }

  &__content {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
      display: flex;
    }

    @media (max-width: 320px) {
      align-items: center;
    }
  }

  &__contacts {
    flex-direction: column;
    margin-right: 30px;
    display: flex;

    @media (max-width: 768px) {
      align-items: center;
      margin-bottom: 40px;
      margin-right: 0px;
      display: flex;
    }
  }

  &__title {
    margin-bottom: 30px;
    line-height: 64px;

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }

    @media (max-width: 320px) {
      text-align: center;
    }
  }

  &__text {
    letter-spacing: 0.1em;
    margin-bottom: 15px;
    line-height: 166%;
    color: $c-black;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__copyright {
    justify-content: center;
    font-size: $fs-h9 + px;
    letter-spacing: 0.1em;
    line-height: 166%;
    color: $c-black;
    display: flex;

    @media (max-width: 320px) {
      text-align: center;
    }
  }

  &__icons {
    font-size: 24px;
    display: flex;
  }

  &__link {
    border: 1px solid $c-davys-grey;
    background-color: $c-cultured;
    justify-content: center;
    transition: $t-normal;
    color: $c-davys-grey;
    align-items: center;
    margin-right: 25px;
    display: flex;
    padding: 10px;

    &:last-child {
      margin-right: 0px;
    }

    &:hover {
      background-color: $c-davys-grey;
      color: $c-white;
    }
  }
}
