* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  display: block;
}

body {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  background-color: var(--main-bgb-color);
  font-weight: 400;
  color: var(--main-txt-color);
}