.burger {
  background-color: transparent;
  transition: $t-normal;
  cursor: pointer;
  display: none;
  padding: 5px;
  border: none;

  &__line {
    background-color: $c-black;
    margin-bottom: 8px;
    display: block;
    width: 34px;
    height: 2px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:hover .burger__line {
    transition: $t-normal;
    opacity: 0.3;
  }
}

@media only screen and (max-width: 900px) {
  .navigation {
    &__list {
      background-color: $c-white;
      flex-direction: column;
      transition: $t-normal;
      text-align: center;
      padding-top: 20px;
      position: fixed;
      left: -100%;
      width: 100%;
      top: 128px;

      @media (max-width: 320px) {
        top: 88px;
      }
    }

    &__list.active {
      left: 0;
    }

    &__item {
      padding: 15px;
      margin: 0;
    }
  }

  .burger {
    cursor: pointer;
    display: block;

    &.active &__line:nth-child(2) {
      opacity: 0;
    }

    &.active &__line:nth-child(1) {
      transform: translateY(12px) rotate(45deg);
    }

    &.active &__line:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}
