* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-size: var(--f-main);
  font-family: var(--ff-font);
  color: var(--c-black);
  background-color: var(--c-white);
}

.wrapper {
  max-width: calc(100% - 40px);
  margin: 0 auto;
  width: 1200px;
}

