.form {
  &__title {
    margin-bottom: 20px;
    line-height: 32px;
  }

  &__double-form {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    display: flex;
  }

  &__single-form {
    margin-bottom: 20px;
  }

  &__block {
    justify-content: space-between;
    flex-direction: column;
    margin-right: 10px;
    display: flex;
    width: 50%;

    &-insert {
      align-items: center;
      margin-bottom: 20px;
      display: flex;
      width: 100%;
    }
  }

  &__block:last-child {
    margin-right: 0px;
  }

  &__text {
    line-height: 22px;
  }

  &__item {
    flex-direction: column;
    position: relative;
    display: flex;

    &--circle {
      border: 1px solid $c-platinum;
      justify-content: center;
      transition: $t-normal;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      height: 20px;
      width: 20px;
    }

    &--small {
      background-color: $c-white;
      border-radius: 50%;
      height: 8px;
      opacity: 0;
      width: 8px;
    }
  }

  &__input {
    border: 1px solid $c-platinum;
    background-color: $c-white;
    transition: $t-normal;
    color: $c-earie-black;
    padding-right: 10px;
    border-radius: 6px;
    padding-left: 10px;
    height: 40px;
    width: 100%;

    &--hide {
      display: none;
    }

    &--hide:checked + div {
      border: 1px solid $c-azure;
      background-color: $c-azure;
    }

    &--hide:checked + div > div {
      opacity: 1;
    }

    &-file {
      display: none;
    }

    &--small {
      height: 30px;
    }
  }

  &__input:hover {
    border: 1px solid $c-azure;
  }

  &__input:focus {
    border: 2px solid $c-azure;
    transition: 0s;
    outline: none;
  }

  &__warning {
    color: $c-deep-carmine-pink;
    line-height: 22px;
    text-align: right;
    margin-top: 5px;

    &--right {
      color: $c-deep-carmine-pink;
      line-height: 22px;
      text-align: left;
      margin-top: 10px;
    }
  }
  &__explain {
    font-size: $fs-terms + px;
    color: $c-spanish-gray;
    line-height: 18px;
  }

  &__sex {
    flex-direction: column;
    margin-bottom: 20px;

    &-radios {
      align-items: center;
      display: flex;
    }

    &-block {
      justify-content: center;
      align-items: center;
      margin-right: 20px;
      display: flex;
    }
  }

  &__select {
    font-family: "Inter", sans-serif;
    color: rgba($c-davys-grey, 0.6);
    border: 1px solid $c-platinum;
    background-color: $c-white;
    transition: $t-normal;
    padding-right: 10px;
    border-radius: 6px;
    padding-left: 10px;
    height: 40px;
    width: 100%;
  }

  &__select:hover {
    border: 1px solid $c-azure;
  }

  &__select:focus {
    border: 2px solid $c-azure;
    transition: 0s;
    outline: none;
  }

  &__button {
    margin-bottom: 20px;
  }

  &__subtext {
    margin-bottom: 20px;
    text-align: center;
  }

  &__link {
    display: inline-block;
    color: $c-azure;
  }

  &__footer {
    border-top: 1px solid $c-platinum;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    display: flex;

    &-text {
      margin-right: 20px;
      line-height: 22px;
    }
  }

  &__image {
    justify-content: end;
    align-items: center;
    margin-right: 20px;
    display: flex;

    &-photo {
      border-radius: 50%;
      object-fit: cover;
      max-width: 80px;
      height: 80px;
      width: 100%;
    }
  }

  &__icon {
    position: absolute;
    height: 12px;
    right: 10px;
    width: 12px;
    top: 9px;
  }
  
  &__content {
    display: flex;
  }
}
