// * BEZIER
$b-normal: cubic-bezier(0.4, 0, 0.2, 1);

// * FONT FAMILY
$ff-base: 'Roboto', sans-serif;

// * COLORS
$c-chinese-white: #E0E0E0;
$c-dark-liver: #4F4F4F;
$c-white: #fff;
$c-black: #000;


// * TRANSITION
$t-normal: 0.35s $b-normal;

// * FONT-SIZE
$fs-base: 20;
