.p-panel {
  background-color: $c-dark-liver;
  padding: 5px 0 5px 0;
  width: 100%;

  &__wrapper {
    justify-content: center;
    display: flex;
  }

  &__nav {
    color: $c-chinese-white;
    text-decoration: none;
    transition: $t-normal;
    font-size: em(16);
  }

  &__nav:hover {
    color: $c-black;
  }
}
